@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.navbar {
  .nav-right {
    text-align: right;
    li {
      display: inline;
    }
    .nav-link {
      padding-bottom: 0px;
      padding-top: 0px;
    }
  }
  .navbar-brand {
    padding: 0;
    margin: 0;
  }
  .navbar-toggler {
    position: relative;
    width: 110px;
    text-align: right;
    z-index: 1051;
    // http://kylegoslan.co.uk/bootstrap-4-hamburger-menu-animation/
    .icon-bar {
      width: 27px; 
      height: 3px;
      display: block;
      transition: all 0.2s;
      margin-top: 5px;
    }
    .top-bar {
      margin-top: 0;
      transform: rotate(0);
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
    &.collapsed {
      .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }
      .middle-bar {
        opacity: 0;
      }
      .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }
    }
  }
  .event-selector {
    position: relative;
    //z-index: 131;
  }
  .navbar-nav-left {
    text-align: left;
    padding: 1rem;
    @include media-breakpoint-down(md) { 
      text-align: center;
    }
    @include media-breakpoint-up(lg) { 
      height: 100vh !important;
      min-width: 250px;
      position: absolute;
      left: 0px;
      top: 0;
    }
  }
  .nav-social {
    display: block;
    > li {
      display: inline-block !important;
    }
  }
}

