@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');

$font-family-base: 'Roboto Condensed', sans-serif;
$headings-font-family: 'Sigmar One';

$nav-height: 80px;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
