ul.nav-footer li a { list-style: none; display: inline; }
ul.nav-footer li:after { content: "•"; color: rgba($color:#fff, $alpha: .5) }
ul.nav-footer li:last-child:after { content: none; }
ul.nav-footer li:first-child a { padding-left: 0 }

footer .text-muted {
    color: rgba($color:#fff, $alpha: .5) !important;
}