.footer {
    @include media-breakpoint-up(md) { 
        ul.main-menu li a { list-style: none; display: inline; }
        ul.main-menu li:after { content: "•"; color: rgba($color:#fff, $alpha: .5) }
        ul.main-menu li:last-child:after { content: none; }
        ul.main-menu li:first-child a { padding-left: 0 }
    }
    .text-muted {
        color: rgba($color:#fff, $alpha: .5) !important;
    } 
}